# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor':
  'cmd-k up': 'simple-panes:move-item-above-pane'
  'cmd-k right': 'simple-panes:move-item-right-of-pane'
  'cmd-k down': 'simple-panes:move-item-below-pane'
  'cmd-k left': 'simple-panes:move-item-left-of-pane'
